<!-- <button (click)="replacStatus()">save</button>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> search </mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form> -->
<p class="app-name" style="margin: 40px;">title</p>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> search </mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<form class="selector-form">
    <mat-form-field appearance="fill">
        <mat-label>Select Project</mat-label>
        <mat-select>
            <div *ngFor="let d of data">
                <mat-option value="d.title">{{d.title}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
</form>

<br><br><br><br><br>

<div class="board">

    <!-- <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
    </div> -->

    <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let column of board.columns">

                <div class="column-title">
                    {{ column.name }}
                    <button mat-mini-fab (click)="openDialog()" style="background-color: #2B92F9;">
                        <p style="font-size: 22px;"> + </p>
                    </button><br>
                </div>


                <div class="tasks-container" cdkDropList [cdkDropListData]="column.cards"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of column.cards" cdkDrag>
                        {{ item.title }}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<button mat-flat-button style="background-color: #2B92F9; color: #ffff; float: right; margin-right: 20px;" (click)="replacStatus()">save</button>
