<button (click)="replacStatus()">save</button>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> search </mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div class="board">

    <!-- <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
    </div> -->

    <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let column of board.columns">

                <div class="column-title">
                    {{ column.name }}<button (click)="openDialog()">+</button>
                </div>


                <div class="tasks-container" cdkDropList [cdkDropListData]="column.cards" (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of column.cards" cdkDrag>
                        {{ item.title }}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
