.create {
    background-color: #2B92F9;
    color: aliceblue;
}

.example-form {
    width: 100%;
    padding-left: 0%;
    .mat-form-field {
        width: 100%;
        padding-bottom: 2px;
    }
}

.close {
    background-color: #2B92F9;
    color: aliceblue;
    font-size: 18px;
    position: absolute;
}

h1 {
    position: absolute;
    padding: 5px;
}
