.mat-button-toggle-group {
    float: right;
    margin-top: 5px;
    margin-bottom: 20px;
}

.mat-button-toggle-checked {
    background-color: #2B92F9!important;
    color: aliceblue !important;
  }

.mat-form-field {
    padding-right: 20px;
    width: 180px;
 
}

.mat-header-row {
    background-color: hsla(234, 51%, 50%, 0.308);
    color: black;
    text-align: center !important;
}

.example-second-footer-row td{
    background-color: hsla(17, 92%, 41%, 0.336);
   text-align: right;
    font-weight: bold;

}
.example-first-footer-row{
    background-color: hsla(48, 76%, 56%, 0.336);
    font-weight: bold;
    

}

.group {
    padding: 20px;
    padding-top: 0px;
    margin: 20px;
}

table {
    width: 100%;
    text-align: center !important;
}

.mat-sort-header-container {
    justify-content: center!important;
}

.mat-header-cell {
    text-align: center !important;
}
