.mat-button-toggle-group {
    float: right;
    padding: 5px 5px;
}

.mat-form-field {
    padding-right: 20px;
    width: 180px;
    height: 100px;
}

.mat-header-row {
    background-color: hsla(234, 51%, 50%, 0.308);
    color: black;
}

.group {
    padding: 10px;
    margin: 20px;
}

table {
    width: 100%;
    text-align: center !important;
}

.mat-sort-header-container {
    justify-content: center;
}

.mat-header-cell {
    text-align: center !important;
}
