<br>
<div>
    <h3>Title :</h3>
    <input type="text" pInputText [(ngModel)]="title">

</div><br>

<div>
    <h3>Range Date :</h3>
    <div class="field col-12 md:col-4">
        <label for="range"></label>
        <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
    </div>
</div><br>

<div>
    <h3>Start Date :</h3>
    <div class="p-fluid grid formgrid">
        <div class="field col-10 md:col-4">
            <label for="basic"></label>
            <p-calendar inputId="basic"></p-calendar>
        </div>
    </div>
</div><br>

<div>
    <h3>End Date :</h3>
    <div class="p-fluid grid formgrid">
        <div class="field col-12 md:col-4">
            <label for="basic"></label>
            <p-calendar inputId="basic"></p-calendar>
        </div>
    </div>
</div><br>

<div>
    <h3>Estimated Day :</h3>
    <div class="field col-12 md:col-3">
        <label for="integeronly"></label>
        <p-inputNumber inputId="integeronly">
        </p-inputNumber>
    </div>
</div><br>

<div>
    <h3>Description :</h3>
    <textarea rows="10" cols="92" pInputTextarea></textarea>
</div><br>

<button pButton pRipple type="button" label="Add Task" class="p-button-raised" style="float: right;"></button>
<br><br>