.close {
    background-color: #2B92F9;
    color: aliceblue;
    font-size: 18px;
    position: absolute;
    margin-left: 44.3%;
}

.example-form {
    width: 100%;
    .mat-form-field {
        width: 100%;
        padding-bottom: 2px;
    }
}

.create {
    background-color: #2B92F9;
    color: aliceblue;
    margin-left: 90%;
}

.mat-hint{
    color: red!important;
    // opacity: 1!important;
}
