<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle>Board</mat-button-toggle>
    <mat-button-toggle>Timeline</mat-button-toggle>
    <mat-button-toggle>Chart</mat-button-toggle>
    <mat-button-toggle>Role</mat-button-toggle>
</mat-button-toggle-group>
    <p class="app-name" style="margin: 40px;">{{ title }}</p>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> search </mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div class="board">
    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let column of board.columns">
                <div class="column-title">
                    {{ column.name }}
                </div>
                <div class="tasks-container" cdkDropList [cdkDropListData]="column.cards" (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of column.cards | filter:searchText" cdkDrag>
                        {{ item.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button mat-flat-button style="background-color: #2B92F9; color: #ffff; float: right; margin-right: 20px;" (click)="replacStatus()">save</button>
