
<mat-dialog-content>
    <form [formGroup]="form" (submit)="addMember()" class="example-form" align="end">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="displayName" matInput placeholder="Add name here...">
        </mat-form-field>
   
        <mat-form-field appearance="outline" style="padding-bottom: 10px;">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Add username here...">
        </mat-form-field>
    </form>

    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectRole">
        <mat-radio-button class="example-radio-button" *ngFor="let role of roles" [value]="role">
            {{role}}
        </mat-radio-button>
    </mat-radio-group>
    <div>Role is: {{selectRole}}</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="create" (click)="addMember()" mat-dialog-close> Finish </button>
</mat-dialog-actions>
