
<mat-dialog-content>
    <form [formGroup]="form" class="example-form" align="end">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
                    <input formControlName="displayName" [(ngModel)]="displayName" type="text" matInput placeholder="Add name here..." (input)="read($event)">
        </mat-form-field>
   
        <mat-form-field appearance="outline" style="padding-bottom: 10px;">
            <mat-label>Username</mat-label>
            <input formControlName="username" [(ngModel)]="username" type="text" matInput placeholder="Add username here...">
        </mat-form-field>
    </form>

    <pre>{{form?.value|json}}</pre>

    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectRole">
        <div fromGroupName="roles">
            <mat-radio-button class="example-radio-button" *ngFor="let role of roles" [value]="role" (selectionChange)="getRole(selectRole)">
                {{role}}
            </mat-radio-button>
        </div>
    </mat-radio-group>
    <div>Role is: {{selectRole}}</div> -->

    <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button">System Admin</mat-radio-button>
        <mat-radio-button class="example-radio-button">User</mat-radio-button>
    </mat-radio-group> -->

    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roles">
            <mat-option (click)="selectRole('SA')">System Admin</mat-option>
            <mat-option (click)="selectRole('USER')">User</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="create" type="submit" (click)="addMember()" mat-dialog-close> Finish </button>
</mat-dialog-actions>
