<mat-dialog-content class="example-form">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
                    <input formControlName="displayName" [(ngModel)]="displayName" type="text" matInput placeholder="Add name here..." (input)="read($event)">
        </mat-form-field>
   
        <mat-form-field appearance="outline" style="padding-bottom: 10px;">
            <mat-label>Username</mat-label>
            <input formControlName="username" [(ngModel)]="username" type="text" matInput placeholder="Add username here...">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select formControlName="roles">
                <mat-option (click)="selectRole('SA')">System Admin</mat-option>
                <mat-option (click)="selectRole('USER')">User</mat-option>
            </mat-select>
        </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="create" type="submit" (click)="addMember()" mat-dialog-close> Finish </button>
</mat-dialog-actions>
