table {
    width: 100%;
}

.table-spent-time {
    th, td {
        text-align: center;
    }
}

.mat-button-toggle-group {
    float: right;

}

.mat-form-field {
    padding: 5px;
}

.mat-header-row {
    background-color: hsla(234, 51%, 50%, 0.308);
    color: black;
}

.group {
    padding: 10px;
}