mat-toolbar {
    background: #2B92F9;
    color: white;
}

mat-sidenav {
    width: 200px;
    border-right: none;
    background: #F0EEF0;
    color: black;
    padding: 5px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

