<div *ngIf=" 1 != 1">
    <app-login></app-login>
</div>
<div *ngIf=" 1 == 1">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button> ProjectManagement
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened="true">
            <mat-nav-list>
                <button mat-button class="menu-button" style="float: left;" [routerLink]="['/home']">
          <mat-icon>person</mat-icon>
          &nbsp;Personal Board</button>

                <button mat-button class="menu-button" style="float: left;" [routerLink]="['/time']">
          <mat-icon>alarm_add</mat-icon>
          &nbsp;Spent Time</button>

                <button mat-button class="menu-button" style="float: left;" [routerLink]="['/list']">
          <mat-icon>list</mat-icon>
          &nbsp;Project List</button>

                <button mat-button class="menu-button" style="float: left;" [routerLink]="['/help']">
          <mat-icon>file_copy</mat-icon>
          &nbsp;Projects</button>

            </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>
