.close {
    background-color: #2B92F9;
    color: aliceblue;
    font-size: 18px;
    position: absolute;
}

h1 {
    position: absolute;
    padding: 5px;
}

.create {
    background-color: #2B92F9;
    color: aliceblue;
}