<h1 mat-dialog-title class="h3 mb-3 fw-normal">Card</h1>

<mat-dialog-content>
    <main class="form-signin">
        <form class="example-form" [formGroup]="form">

            <mat-dialog-actions align="end">
                <button mat-dialog-title mat-mini-fab mat-dialog-close class="close"> x </button>
            </mat-dialog-actions>

            <mat-form-field appearance="outline" style="padding-top: 30px; width: 100%;">
                <mat-label>Card</mat-label>
                <input formControlName="title" [(ngModel)]="title" type="text" class="form-control" matInput placeholder="Card">
            </mat-form-field><br>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" [(ngModel)]="description" type="text" class="form-control" matInput placeholder="Description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="padding-top: 30px; width: 30%;">
                <mat-label>Point</mat-label>
                <input formControlName="point" [(ngModel)]="point" type="text" class="form-control" matInput placeholder="Point">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <mat-form-field appearance="outline" style="padding-top: 30px; width: 30%;">
                <mat-label>DonePoint</mat-label>
                <input formControlName="donePoint" [(ngModel)]="donePoint" type="text" class="form-control" matInput placeholder="DonePoint">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <mat-form-field appearance="outline" style="padding-top: 30px; width: 30%;">
                <mat-label>EstimatedHours</mat-label>
                <input formControlName="estimatedHours" [(ngModel)]="estimated" type="text" class="form-control" matInput placeholder="EstimatedHours">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



            <h3>Images</h3>
            <button mat-raised-button color="#2B92F9">+</button>
            <br><br>

            <h3>Assigns</h3>
            <form class="selector-form">
                <mat-form-field appearance="fill">
                    <mat-label>Select Project</mat-label>
                    <mat-select>
                        <div *ngFor="let d of projectList">
                            <mat-option value="d.id" (click)="selectProject(d.id)">{{d.title}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </form>
            <br><br><br>

        </form>
    </main>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="create" type="submit" (click)="addCard()"> Create </button>
</mat-dialog-actions>