<button mat-fab class="add_member" (click)="openDialog()">
    <mat-icon>person_add</mat-icon>
</button>

<div mat-subheader style="padding-top: 20px;"><b>Admin</b></div>
    <mat-list-item *ngFor="let member of members">
        <div *ngIf="member.roles.length>1">
            <mat-list class="admin">
                <mat-card style="width: 87%; margin-bottom: 10px;">
                    <mat-icon mat-list-icon class="icon-admin">person</mat-icon>
                    <mat-card-content class="name">{{member.profile.displayName}}</mat-card-content>
                    <mat-card-content class="username">{{member.username}}</mat-card-content>
                    <a class="delete"><mat-icon>delete_forever</mat-icon></a>
                </mat-card>    
            </mat-list>
        </div>
    </mat-list-item>  

<mat-divider></mat-divider>

<div mat-subheader><b>User</b></div>
    <mat-list-item *ngFor="let member of members">
        <div *ngIf="member.roles.length==1">
            <mat-list class="user">
                <mat-card style="width: 87%; margin-bottom: 10px;">
                    <mat-icon mat-list-icon class="icon-user">person</mat-icon>
                    <mat-card-content class="name">{{member.profile.displayName}}</mat-card-content>
                    <mat-card-content class="username">{{member.username}}</mat-card-content>
                    <a class="delete"><mat-icon>delete_forever</mat-icon></a>
                </mat-card>    
            </mat-list>
        </div>
    </mat-list-item>