h1 {
    padding: 35px;
    padding-bottom: 0%;
    text-align: center;
}

.add_member {
    background-color: #2B92F9;
    position: absolute;
    left: 93%;
    top: 20px;
    padding-bottom: 0%;
}

.admin {
    padding-left: 60px;
    .icon-admin {
        position: absolute;
        padding-top: 6px;
        padding-left: 15px;
        opacity: 70%;
        font-size: 30px;
    }
    .name {
        padding-left: 80px;
        font-size: 15px;
        font-weight: 450;
    }
    .username {
        padding-left: 80px;
    }
    .delete {
        position: absolute;
        right: 20px;
        top: 25px;
        color: #F94449;
        opacity: 80%;
    }
    mat-card-content {
        margin-bottom: 0%;
    }
}

.user {
    padding-left: 60px;
    .icon-user {
        position: absolute;
        padding-top: 6px;
        padding-left: 15px;
        opacity: 70%;
        font-size: 30px;
    }
    .name {
        padding-left: 80px;
        font-size: 15px;
        font-weight: 450;
    }
    .username {
        padding-left: 80px;
    }
    .delete {
        position: absolute;
        right: 20px;
        top: 25px;
        color: #F94449;
        opacity: 80%;
    }
    mat-card-content {
        margin-bottom: 0%;
    }
}

mat-divider {
    margin-top: 40px;
}

mat-card:hover {
    background-color: #F0EEF0;
}